*{
   margin:0;
   padding: 0;
   font-size: 1.0em;
}
body{
	background: #f1f5f9 url("../img/bkg.jpeg") 1%;
	font-family: Arial, Helvetica, sans-serif;
}


/*** Header ***/
#header{
	background-color:rgb(0,66,28);
	padding: 2em 2em 2em 2em;
	z-index: 2;
}
#logo{
	float:left;
	width: 8em;
	height: auto;
	position: relative;
}
#header h1{
	font-size: 1.3em;
	color: white;
	padding-left: 8em;
	font-style: italic;
}
#lingua{
	float: right;
	position: relative;
	top:-18px;
	color: white;
}
#lingua:hover{
	font-style: italic;
}
#print-title{
	display: none;
}
#mondo{
	height: 2em;
	width: 2em;
	float:right;
	padding-left:1em;
	position: relative;
	top:-9px;
}


/*** Nav Bar ***/
#nav{
	position: -webkit-sticky;
	position: sticky;
	top: 0em;
	z-index: 2;
	height: 2.5em;
}
#nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: black;
}
#nav li{
	display: inline-block;
	padding: 0.8em 2% 0.8em 2%;
	color: white;
	font-size: 0.9em;
}
.currentLink{
	font-weight: bolder;
	background-color: #404040;
}
#nav li:hover{
	font-style: italic;
	background-color: #303030;
}
#nav a{
	color: white;
}
#menu{
	display: none;
}
#closenav{
	display: none;
}



#breadcrumbs{
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	background-color: #aaa;
	width: 70%;
	margin: auto;
	text-align: center;
	border-radius: 0 0 12px 12px;
}
#breadcrumbs p{
	line-height: 2em;
	font-size: 0.9em;
	color: black;
}
#breadcrumbs a{
	color: #00421C;
}


/*** Contenuto ***/
#contenuto{
	background-color: #f8f8f8;
	width: 70%;
	margin: auto;
	overflow: hidden;
	z-index: 0;
	padding-bottom: 5em;
}



/*** Footer ***/
#footer{
	background: black;
	color: white;
	text-align: center;
	font-size: 0.9em;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 2;
}
#logo_footer{
	margin-bottom: 0.5em;
	height: auto;
	width: 5em;
}