#intestazione{
	margin-top:2em;
	text-align: center;
	color: white;
	background-color: rgb(150,0,0);
	width: 70%;
	margin-left: 15%;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 8px;
}

#intro{
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 50px;	
	padding-top: 35px;
}

.slider-container {
	padding: 50px;
	height: 600px;
	padding-bottom: none;
	text-align: center;
	position: static;
}

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides input { display: none; }

.slide-container { 
	display: block; 
	position: relative;
	height: 420px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 10px 18px rgb(0,66,28);
}

.slide {
    top: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
	transition: all 2s;
}

.slide img:hover {
    transform: scale(1.2);
}

.navi button {
    width: 100px;
    height: 100%;
    position: absolute;
	opacity: 0;
    z-index: 1;
    cursor: pointer;
    transition: opacity .1s;
    color: #rgb(0,66,28);
    font-size: 50px;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgb(0,66,28, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
    border: 0px solid transparent;
}

.slide:hover + .navi button { opacity: 0,5; }

.navi button:hover { opacity: 0.9; }

.navi .next { right: 0; }

.navi .prev { left: 0; }

#primo img{
	width:400px;
	height:220px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;	
    transition: all 2s;
}


#primo img:hover {
    transform: scale(1.05);
}

#paragrafi{
	text-align: inline;
	font-style: italic;
	font-size: 2em;
	padding: 50px;
	margin-top: 1em;
}

#primo{
	text-align: inline;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-left: 50px;	
	padding-right: 50px;
}

#secondo img{
	width:420px;
	height:240px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 2s;
}
#secondo img:hover {
    transform: scale(1.05);
}

#secondo{
	text-align: inline;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-left: 50px;	
	padding-right: 50px;
	
}